body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #44bfcf; /* Color de fondo personalizable */
}

.container {
    max-width: 800px;
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
    text-align: center; /* Centrar texto dentro de cada tarjeta */
}

img {
    width: 100%;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.info-text {
    margin-top: 10px;
    color: #555;
}
